name: Deploy Website

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install dependencies
        working-directory: Docs
        run: npm install

      - name: Build site
        working-directory: Docs
        run: npm run build

      - name: Deploy
        working-directory: Docs
        run: docker compose up -d --build
