name: Deploy Website

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - working-directory: Docs
        run: npm ci

      - working-directory: Docs
        run: npm run build

      - working-directory: Docs
        run: |
          robocopy docs\.vitepress\dist C:\bobdyn_docs\BobDyn\Docs\dist /MIR
          if ($LASTEXITCODE -le 7) { exit 0 } else { exit $LASTEXITCODE }